<div class="report-widget bg-info" id="back-notifications">
    <h3><?= e(trans($this->property('title'))) ?></h3>

    <div class="table-container">
        <table class="table data" data-provides="rowlink">
            
            <tbody>
                <?php foreach($notifications as $record) { ?>
                <tr class="bg-info">
                    <td>
                          <button
                            role="button"
                            class="btn btn-sm btn-link oc-icon-check"
                            data-request="onRead"
                            data-request-success="$('#back-notifications').replaceWith(data.partial)"
                            data-request-data="record_id: <?= $record->id; ?>"
                            data-stripe-load-indicator
                          >
                            <?= Lang::get('studiobosco.backendnotifications::lang.mark_as_read'); ?>
                          </button>
                    </td>
                    
                    <td>
                          <?php if ($record->url): ?>
                          <a class="" href="<?= $record->url; ?>">
                          <?php endif; ?>
                          <?= e($record->subject); ?>
                          <?php if ($record->url): ?>
                          </a>
                          <?php endif; ?>
                    </td>

                    <td>
                        <?= $record->body; ?>
                    </td>
                </tr>
                <?php } ?>

                <?php if (!$notifications->count()) { ?>
                <tr>
                    <td colspan="3" class="text-center"> No notifications yet </td>
                </tr>
                <?php } ?>

            </tbody>
        </table>
    </div>
</div>